
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}


.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}


.contacts-card {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 16px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

.contacts-card h2 {
  text-align: center;
  margin-bottom: 20px;
}


.contacts-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: -10px;
  border-radius: 8px;
  border: 1px solid #333;
  background-color: #2a2a2a;
  color: #fff;
}




.add-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
 
}


.contacts-card ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.contacts-card li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2a2a;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}


.delete-btn {
  background: none;
  border: none;
  color: #ff4d4d;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s;
}

